.container{
    min-height: 70px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111111;
    color: rgba(255, 255, 255, 0.589);
    position: relative;

}
